@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
body{
    font-family: 'Pretendard-Regular';
}

.header_wrap{
    width: 100%;
    background: #000;
}
.header_top{
    width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left{
    display: flex;
}
.logo{
    margin-right: 16px;
}
.logo a{
    width: 50px;
    height: 35px;
    display: block;
    background-image: url(../images/logo_2.png);
    text-indent: -9999px;
}
.search{
    position: relative;
}
.searchinp {
    width: 290px;
    height: 35px;
    border-radius: 10px;
    text-indent: 15px;
    border: 0 none;
    background: #363636;
    color: #cbcbcb;
}
.searchinp:focus {
    outline: none !important;
    border-color: #ffd665;
    box-shadow: 0 0 3px #ffd665;
}
.search_btn {
    position: absolute;
    top: 5.5px;
    right: 5px;
    width: 24px;
    height: 24px;
    border: 0 none;
    cursor: pointer;
    background: #363636;
    background-image: url(../images/search-o.png);
}
.search_btn:hover {
    background-image: url(../images/search.png);
}


.gnb li{
    float: left;
    margin-left: 10px;
}
.noti{
    background-image: url(../images/alarm-o.png);
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    cursor: pointer;
}
.noti:hover{
    background-image: url(../images/alarm.png);
}
.mypage{
    background-image: url(../images/mypage-o.png);
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    cursor: pointer;
}
.mypage:hover{
    background-image: url(../images/mypage.png);
}
.sign a{
    color: #cbcbcb;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
}
.sign a:hover{
    color: #ffd665;
}

.header_tab{
    width: 100%;
    background: #000;
}
.tab_box{
    width: 1200px;
    height: 42px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu li{
    float: left;
    margin-right: 20px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.menu li a{
    color: #cbcbcb;
}
.menu li a:hover{
    color: white;
}
.bar{
    width: 34px;height: 2px;
    background-color: white;
    position: relative;
    transition: 300ms;
}
.tab_btn{
    cursor: pointer;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 20px;
    background: #ffd86a;
}
.tab_btn:hover{
    background: #fff;
}


.content {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.content li {
    float: left;
    margin-left: 24px;
    background: white;
    width: 384px;
    height: 94px;
    padding: 20px 20px;
    cursor: pointer;
    border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
    box-shadow: 0px 1px 7px rgb(196, 196, 196);
    transition: 0.3s;
}
.content li:first-child {
    margin-left: 0;
}
.content li:hover {
    box-shadow: 0px 3px 15px rgb(211, 211, 211);
    transform: scale(1.05);
}
.category_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category_text h3 {
    font-size: 18px;
    line-height: 30px;
    display: block;
}
.category_text p {
    font-size: 14px;
    line-height: 24px;
    display: block;
}

.bx-wrapper {
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
    border: 0 none;
    margin-bottom: 0;
}

.bx-wrapper .bx-pager{
    bottom: 35px;
}

.slider_wrap .bx-wrapper .bx-pager.bx-default-pager a{
    background: white;transition:0.3s
}
.slider_wrap .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #000;width: 40px;height: 10px;
}
.slider_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: #c9c9c9;
}


.slider_wrap{
    position: relative;
    margin-bottom: 60px;
}
.slider_wrap li{
    height: 480px;
}
.slider_wrap .prevbtn{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    cursor: pointer;
}
.slider_wrap .nextbtn{
    position: absolute; top: 50%;
    transform: translateY(-50%);
    transform: scaleX(-1);
    right: 10%;
    cursor: pointer;
}
.slider_wrap .prevbtn:hover, .slider_wrap .nextbtn:hover{
    background-image: url(../images/slider_arrow_hover.png);
}
.slide_1{
    background: #ff9a70;
    background-repeat: no-repeat;
}
.heroside_1{
    background-image: url(../images/heroside_1.png);
    width: 579px;
    height: 357px;
    position: absolute;
    top: 50px;
    right: 15%;
}
.slide_2{
    background: #ffd86a;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/heroside_image1.png);
}
.slide_3{
    background: #e7f56d;
    background-repeat: no-repeat;
}
.heroside_3{
    background-image: url(../images/heroside_3.png);
    width: 620px;
    height: 346px;
    position: absolute;
    top: 50px;
    right: 15%;

}
.slide_4{
    background: #b591fb;
    background-repeat: no-repeat;
}
.heroside_4{
    background-image: url(../images/heroside_4.png);
    width: 527px;
    height: 342px;
    position: absolute;
    top: 50px;
    right: 15%;
}
.slide_5{
    background: #62bffe;
    background-repeat: no-repeat;
}
.heroside_5{
    background-image: url(../images/heroside_5.png);
    width: 451px;
    height: 367px;
    position: absolute;
    top: 50px;
    right: 15%;
}
.slide_2 .slide_text h1{
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.slide_2 .button{
    width: 84px;
    height: 32px;
    background: #000;
    color: white;
    text-align: center;
    line-height: 32px;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
}
.slide_5 .ranking_btn{
    border: 1px solid #000;
    width: 186px;
    height: 48px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
    position: absolute;
    left: 15%;
    top: 63%;
}
.slide_5 .ranking_btn:hover{
    background: #000;
    color: white;
}
.slide_5 .start_btn{
    width: 186px;
    height: 48px;
    border-radius: 4px;
    text-align: center;
    background: #000;
    color: white;
    line-height: 48px;
    position: absolute;
    left: 29%;
    top: 63%;
}
.slide_5 .start_btn:hover{
    border: 1px solid #000;
    background: transparent;
    color: black;
}
.slide_text h1{
    font-size: 52px;
    line-height: 72px;
    position: absolute;
    left: 15%;
    top: 130px;
    margin-bottom: 20px;
    font-size: 52px;
    line-height: 72px;
    letter-spacing: -0.03em;
}
.slide_text p{
    position: absolute;
    left: 15.4%;
    top: 300px;
    font-size: 16px;
    line-height: 26px;
    bottom: 0;
}

.drink_icon {
    width: 32px;
    height: 32px;
    background-image: url(../images/drink.png);
}
.rice_icon {
    width: 32px;
    height: 32px;
    background-image: url(../images/rice_o.png);
}
.tip_icon {
    width: 32px;
    height: 32px;
    background-image: url(../images/tip_o.png);
}

.content2{
    width: 1000px;
    margin: auto;
}
.drink_slider li{
    float: left;
    margin-left: 20px;
    width: 280px;
    height: 320px;
    cursor: pointer;
}
.drink_slider li:first-child{
    cursor: default;
    margin-left: 0;
}
.drink_slider h3{
    font-size: 24px;
    line-height: 36px;
    margin-top: 26px;
    margin-bottom: 20px;
}
.drink_slider p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
    color: #a0a0a0;
}
.drink_slider button{
    border: none;
    width: 130px;
    height: 28px;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    background: transparent;
    position: relative;
}
.drink_slider h5{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.btn_arrow{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 37px;
    height: 18px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
}