@charset "utf-8";

body{
    font-family: 'Hahmlet', serif;
}

.header_top{
    height: 36px;
    background: #210002;
    color: #FFAE00;
    position: fixed;
    z-index: 1;
}
.container{
    width: 1200px;margin: 0 auto;
    color: #FFAE00;
}

.download{
    width: 800px;margin: 0 auto;
}
.download p{
    text-align: center;
    font-size: 28px;
    letter-spacing: 8.68px;
}

.down_btn{
    margin: 40px 28px 0 28px;
    width: 337px; height: 34px;
    background: #FFAE00;
    float: left;
    position: relative;
}
.down_btn:hover{
    background: white;
    cursor: pointer;
}

.down_btn .left{
    height: 34px;
}
.down_btn .right{
    height: 34px;
    top: 0;
    right: 0;
    position: absolute;
}
.down_info{
    width: 337px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3px;
}
.down_info img{
    margin-right: 10px;
    height: 25px;
}
.down_info h4{
    font-size: 18px;
    letter-spacing: 2px;
    color: #210002;
}

.content2{
    /* position: relative; */
    width: 945px;
    height: 530px;
}
iframe{
    /* position: absolute; */
    margin-top: 95px;
    margin-left: 127.5px;
    margin-bottom: 130px;
    top: 95px;
}
.content3{
    width: 800px;
    margin: auto;
    margin-top: 330px;
}
.content3 .text_top{
    font-weight: bold;
    font-size: 28px;
}
.text{
    width: 800px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 35px;
}
.text_left, .text_right{
    width: 350px;
}
.content3_btn{
    margin-top: 50px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.screen, .faq{
    width: 337px;height: 27px;
    background: #973600;
    color: #210002;
    position: relative;
    font-size: 16px;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 80px;
}
.screen .left, .faq .left{
    height: 27px;
    position: absolute;
}
.screen .right, .faq .right{
    height: 27px;
    position: absolute;
    right: 0;
}
.screen:hover, .faq:hover{
    background: #FFAE00;
    cursor: pointer;
}

.content_box{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.images img{
    width: 444px;
    margin-right: 52px;
}