@charset "utf-8";
html,body{height: 100%;}
body{
    font-family: 'Sora', sans-serif;
}

#main_header{
    height: 1930px;position: relative;
}

#header_top{
    width: 1260px;
    z-index: 1;
    position: fixed;left: 50%;
    transform: translateX(-50%);top: 20px;
    display: flex;justify-content: space-between;align-items: center;
    transition: 100ms;
}

#header_top.fixed{
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    background-color: #fff;
    top: 0;
    width: 100%;
    padding-right: 30px;
}

#header_top .logo a{
    display: block;
    width: 160px;height: 100px;
    background-image: url(../images/LOGO_B.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.gnb{width: 880px;}
.gnb li{float: left;}
.gnb li a{
    display: block;line-height: 50px;
    text-align: center;padding: 0 30px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.gnb li:first-child a{padding-left: 0;}

.gnb a.fixed, .sign .sign_in a.fixed{color: #303236;}

.sign li{float: left; cursor: pointer;}
.sign li a{
    font-size: 16px;
    letter-spacing: 0.095em;
    color: white;
    line-height: 45px;
    font-weight: bold;
}
.sign .sign_in{width: 100px;height: 45px;}
.sign .sign_up{
    background: #F26226;
    width: 120px;height: 45px;
    border-radius: 5px;
    text-align: center;
}
.sign .sign_up:hover{
    background: #ff4d00;
}

.toggle{display: none;}

.slider_wrap .slide_1,.slider_wrap .slide_2{
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider_wrap .slide_1{
    background-image: url(../images/slider_image1.jpg);
}
.slider_wrap .slide_2{
    background-image: url(../images/slider_image2.png);
}
.slide_text h3{
    font-size: 53px; font-weight: 800; color: white;
    margin-bottom: 38px;
}

.slider_wrap .button{
    width: 205px;height: 54px;
    background: #F26226; color: white;
    line-height: 54px;
    font-size: 16px;font-weight: bold; letter-spacing: 0.085em;
    border-radius: 5px;
    position: absolute; left: 50%; transform: translateX(-50%);
}
.slider_wrap .button:hover{
    background: #ff4d00;
}

.slider_wrap{position: relative;}
.slide_text{
    position: absolute;left: 50%;top: 35%;
    transform: translate(-50%,-50%);text-align: center;width: 630px;
}

.slider_wrap .nextbtn,
.slider_wrap .prevbtn{
    position: absolute;top: 50%;transform: translateY(-50%);
    cursor: pointer;
}
.slider_wrap .nextbtn{right: 30px;}
.slider_wrap .prevbtn{left: 30px;}

.bx-wrapper .bx-pager{
    bottom: 350px;
}

.bx-wrapper {
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
    border: 0 none;
    margin-bottom: 0;
}

.slider_wrap .bx-wrapper .bx-pager.bx-default-pager a{
    background: white;transition:0.3s
}
.slider_wrap .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #F26226;width: 40px;height: 10px;
}
.slider_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: #FFC1A7;
}


.content>ul>li{float: left; width: 25%;height: 310px;}
.content>ul>li:nth-child(2n){background-color: slategrey;}
.content>ul>li:nth-child(2n-1){background-color: lightgrey;}
.content>ul>li:nth-child(1){background: white;position: relative;}
.content>ul>li:nth-child(2){position: relative;}
.content>ul>li:nth-child(3){width: 50%; background: white;}
.content>ul>li:nth-child(4){width: 50%; background: white;}
.content>ul>li:nth-child(5){background: #2E62AF;position: relative;}
.content>ul>li:nth-child(6){background: #0F346C;position: relative;}
.content>ul>li:nth-child(7){background: #AACCFF;position: relative;}
.content>ul>li:nth-child(8){background: #4189F3;position: relative;}
.content>ul>li:nth-child(9){width: 50%; background: white;}
.content>ul>li:nth-child(10){width: 50%; background: white;}
.content>ul>li:nth-child(11){background: #0F346C;position: relative;}
.content>ul>li:nth-child(12){background: #4189F3;position: relative;}

.content{
    width: 1260px;position: absolute;left: 50%;
    transform: translate(-50%);bottom: 0;

}
.content ul{
    display: flex;flex-wrap: wrap;
}
.content .box{
    position: absolute;
    left: 50%;top: 90px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .box img{margin-bottom: 30px;
}
.content .box h3{
    color: white;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.065em;
}
.content .content_box1 h3{color: #0F346C;}
.content .content_box1 .box{top: 70px;}

.content .content_box1_video{
    position: relative;
    background: url(../images/modal.png);
}
.content .content_box1_video img{
    position: absolute;left: 50%;top: 50%;
    transform: translate(-50%,-50%);
}

.content_box2{position: relative;}
.content_box2 img{position: absolute;right: 0;}
.content_box2 .left{
    color: #0F346C;
    font-weight: bold;
    position: absolute;
    top: 30px;left: 30px;
    letter-spacing: 0.065em;
}
.content_box2 .left a{color: #0F346C;}
.content_box2 .left h2{
    font-size: 24px; margin-bottom: 50px;
}
.content_box2 .left h3{
    width: 190px;height: 100px;
    font-size: 17px;
}
.content_box2 .left h3 p{font-size: 15px;margin-top: 10px;}
.content_box2 .left:after{
    content: "";display: block;
    border-width: 30px;
    border-color: transparent transparent transparent white;
    border-style: solid;
    width: 60px;
    box-sizing: border-box;
    position: absolute;right: -95px;
    top: 50%;
}
.content_box2 .time{
    color: #0F346C;
    position: absolute;
    right: 0; bottom: -70px;
    font-weight: normal;
}

.content_box3{position: relative;}
.content_box3 img{height: 310px;}
.content_box3 h2{
    width: 270px;
    position: absolute; right: 45px;bottom: 45px;
    letter-spacing: -0.035em;
    font-weight: 600;
    font-size: 50px;
    text-align: right;
    color: #303236;
}

.content_box5{position: relative;}
.content_box5 img{position: absolute;right: 20px;height: 310px;}
.content_box5 h2{
    width: 270px;
    position: absolute;
    left: 45px; bottom: 45px;
    font-weight: 600;
    font-size: 50px;
    color: #303236;
}

.content_box6{position: relative;}
.content_box6 h2{
    width: 180px;
    position: absolute;
    right: 45px;bottom: 45px;
    text-align: right;
    font-weight: 600;
    font-size: 50px;
    color: #303236;
}

.content2{
    background: url(../images/content2_bg.png) no-repeat fixed;
    background-size: cover;
    padding: 100px 0;
    margin: 80px 0;
    text-align: center;
}
.content2 .section{
    width: 1260px;
    margin: 0 auto;
    color: white;
}
.content2 .section h2{
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.165em;
}
.content2 .section h2:before{
    width: 100px;height: 2px;
    content: ""; display: block;
    background: white;
    margin: 30px auto;
}
.content2 li{
    float: left;
    width: 25%;
    padding: 5px;
    margin-top: 70px;
    transition: 300ms;
    cursor: pointer;
    border-radius: 10px;
}
.content2 img{margin: 0 auto;}
.content2 .card_text {padding: 15px;}
.content2 .card_text h3{
    margin-bottom: 15px;
    font-size: 19px;
}
.content2 .card_text p{
    font-size: 17px;
    line-height: 25px;
}
.content2 li:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    transform: translate(-10px,-10px);
}

.content3{
    width: 1260px; margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.content3 li{
    float: left;
    height: 620px;width: 25%;
}
.content3_text{
    position: relative;
    background: #002684;
    color: white;
    padding: 85px 0;
}
.content3_text img{
    margin: 0 auto;
}
.content3 h2{
    margin: 0 auto;
    margin-top: 17px;
    width: 150px;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.03em;
}
.content3 .more{
    position: absolute;
    bottom: 60px;
    text-align: center;
    width: 200px;
    font-size: 16px;
    left: 50%; transform: translate(-50%);
}
.content3 .more .button2{
    background: white;
    color: #002684;
    font-weight: bold;
    font-size: 10px;
    line-height: 40px;
    width: 150px;height: 40px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
}
.content3 .more .button2:hover{
    background: #4189F3;
    color: white;
}
.content3 .blog_content{
    width: 316px;height: 310px;
    padding: 30px;
}
.content3 .blog_content h3{
    color: #828282;
    letter-spacing: 0.045em;
}
.content3 .blog_content p{
    margin: 40px 0;
    color: #828282;
    font-size: 15px;
}
.content3 .sns{width: 186px;height: 28px;}

.blog_1{
    position: relative;
}

.blog_3{
    position: relative;
}
.blog_1::after,
.blog_3:after{
    content: "";display: block;
    border-width: 30px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    width: 60px;
    box-sizing: border-box;
    position: absolute; top: 251px;
    left: 50%;transform: translate(-50%);
}
.blog_3 p{
    margin-top: 20px;
}
.blog_2{
    position: relative;
}
.blog_2:after{
    content: "";display: block;
    border-width: 30px;
    border-color: white transparent transparent transparent;
    border-style: solid;
    width: 60px;
    box-sizing: border-box;
    position: absolute;top: 50%;
    left: 50%;transform: translate(-50%);
}

.content4{
    margin: 0 auto;
    margin: 80px;
    text-align: center;
}
.content4 img{margin: 0 auto;}
.content4 .text{line-height: 30px;}
.content4 h3{
    color: #474547;
    font-size: 24px;
    line-height: 30px;
}
.content4 p{
    color: #898B92;
    font-size: 16px;
}
.content4 .button3{
    width: 325px;height: 60px;
    background-color: #2E62AF;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
    color: white;
    line-height: 60px;
    letter-spacing: 0.08em;
}
.content4 .button3:hover{
    background:#002684
}

#footerwrap{
    height: 200px; background: #002684; color: #98B0D0;
}
.footer{width: 1260px; margin: 0 auto;}
#footerwrap .logo a{
    float: left;
    display: block;
    width: 160px; height: 200px;
    background-image: url(../images/LOGO_w.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-right: 75px;
}
.footerend{
    float: left;
    margin: 40px;
}
.footer1 li{
    float: left;
    margin: 0 20px;
}
.footer1 li:first-child,
.footer2 li:first-child{margin-left: 0;}
.footer1 li a{
    color: #98B0D0;
    text-align: center;
    line-height: 20px;
    font-weight: bold; font-size: 16px;
    
}
.footer2{margin-top: 30px;}
.footer2 h4{font-size: 12px;}
.footer2 li{
    float: left;
    margin: 0 8px;
}
.footer2 li a{
    text-align: center; color: #98B0D0;
    font-size: 12px;font-weight: bold;
}
.footer2 p{font-size: 12px;}
.footer2 p a{color: white;}
.footer2 p a:hover{
    background: white;
    color: #002684;
}




@media screen and (max-width:699px){
    #header_top{
        background: white; padding: 0 16px;
        position: fixed;width: 100%;
        display: flex;justify-content: space-between;
        align-items: center;
        z-index: 99999;
    }
    #header_top .gnb{
        position: fixed;width: 100%;height: 100%;background-color: #2E62AF;
        left: 0;top: 0;z-index: 1;display: flex;justify-content: center;align-items: center;text-align: center;left: 100%;transition: 300ms;
    }
    #header_top .gnb.view{left: 0;}
    #header_top .gnb a{
        color: white; display: block;width: 200px;
        font-weight: bold; font-size: 24px;line-height: 40px;
        letter-spacing: 2px;
    }
    #header_top .gnb li{margin-bottom: 15px;}

    .sign{display: none;}
    .toggle{display: block;}
    .toggle{width: 40px;height: 40px;_background: black;position: relative;z-index: 2;}
    .toggle div{
        position: absolute;width: 25px;height: 3px;
        background: #0F346C;
        left: 50%;top: 50%; transform: translate(-50%,-50%);
        transition: 300ms;
        cursor: pointer;
    }
    .toggle .bar1{top: 10px;}
    .toggle .bar3{top: 30px;}

    .toggle.active .bar1{
        top: 50%; transform: translate(-50%, -50%) rotate(45deg);
        background: white;
    }
    .toggle.active .bar2{opacity: 0;}
    .toggle.active .bar3{
        top: 50%; transform: translate(-50%, -50%) rotate(-45deg);
        background: white;
    }


    .slider_wrap .bx-wrapper .bx-pager.bx-default-pager a{
        background: white;transition:0.3s
    }
    .slider_wrap .bx-wrapper .bx-pager.bx-default-pager a.active{
        background: #0F346C;width: 40px;height: 10px;
    }
    .slider_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover{
        background: #AACCFF;
    }
    .bx-wrapper .bx-pager{
        bottom: 80px;
    }

    .slider_wrap .slide_1,.slider_wrap .slide_2{
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slider_wrap .slide_1{
        background-image: url(../images/slide_mobile1.png);
    }
    .slider_wrap .slide_1 .button,
    .slider_wrap .slide_2 .button{
        position: absolute;left: 50%;transform: translateX(-50%);
        bottom: -120px;
        width: 174px;height: 36px;
        line-height: 36px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        background: #2E62AF;
        border-radius: 30px;
        letter-spacing: 0.08em;
    }
    .slider_wrap .button{color: white;display: block;}
    .slider_wrap .slide_2{
        background-image: url(../images/slide_mobile2.jpg);
    }
    .slide_text{width: 300px; top: 50%;}
    .slide_text h3{
        font-size: 45px; font-weight: 800; color: white;
        margin-bottom: 50px;
    }

    .content{width: 100%;margin: 0 auto;}
    .content>ul>li{width: 50%;}
    .content>ul>li:nth-child(1){display: none;}
    .content>ul>li:nth-child(2){display: none;}
    .content>ul>li:nth-child(3){display: none;}
    .content>ul>li:nth-child(4){width: 100%;}
    .content>ul>li:nth-child(5),
    .content>ul>li:nth-child(6),
    .content>ul>li:nth-child(7),
    .content>ul>li:nth-child(8){display: none;}
    .content>ul>li:nth-child(9){width: 100%;}
    .content>ul>li:nth-child(10){width: 100%;}
    .content>ul>li:nth-child(11){display: none;}
    .content>ul>li:nth-child(12){display: none;}

    .content h2{color: #303236;font-size: 31px;}
    .content .content_box3,
    .content .content_box5,
    .content .content_box6{
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content_box3 img{height: 236px;}
    .content_box5 img{height: 236px;}
    .content_box6 img{height: 236px;}

    .content2{
        margin: 55px 0;
        height: 480px;
        background: url(../images/content2_bg_mobile.png) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        color: white;
    }
    .content2 h2{
        font-size: 19px;text-align: center;
        letter-spacing: 0.165em;
        padding: 10px;
        margin-bottom: 45px;
    }
    .content2 li{
        width: 50%;
        float: left;
        height: 170px;
        
    }
    .content2 li img{
        transform: scale(50%);
        margin: 0 auto;
    }
    .content2 li h3{
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.03em;
    }
    .content2 .card_text p{display: none;}

    .content3{display: none;}

    .content4 img{
        margin: 0 auto;
    }
    .content4 h3{
        color: #474547;
        font-style: 16px;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 15px 0;
    }
    .content4 p{
        color: #898B92;
        font-style: 16px;
        letter-spacing: 0.016em;
        text-align: center;
    }
    .content4 .button3{
        background: #2E62AF;
        color: white;
        width: 200px; height: 35px;
        border-radius: 30px;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.08em;
        text-align: center;
        line-height: 35px;
        margin: 15px auto;
        margin-bottom: 35px;
    }

    #footerwrap{background: #FAFBFC;position: relative;}
    .footer .logo{display: none;}
    .footer1{float: right;text-align: right;padding-top: 68px;}
    .footer1 li a{
        color: #C4C4C4;
        font-size: 13px;
        line-height: 30px;
    }
    .footer1 li:first-child a{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        color: #5F5E60;
        font-size: 9px;
        padding: 10px;
    }
    .footer2{padding: 30px 0;}
    .footer2 h4{
        color: #555456;
        font-size: 13px;
        letter-spacing: -0.015em;
    }
    .footer2 li a{
        color: #C4C4C4;
        font-size: 13px;
        letter-spacing: -0.015em;
        line-height: 30px;
    }
    .footer2 p{
        font-size: 9px;
        margin: 20px 0;
        text-align: center;
        color: #5F5E60;
    }
    .footer2 p a{color: #30355C;}
}/* mobile */